<<<<<<< Updated upstream
<%- include('includes/header', { title: 'Página Inicial' }) %>
=======
<!-- <%- include('includes/head') %>
>>>>>>> Stashed changes

<body>
    <%- include('includes/nav') %>
    <h1>Tela Inicial</h1>
    
</body>
<<<<<<< Updated upstream

<%- include('includes/footer') %>
=======
</html> -->
>>>>>>> Stashed changes
