<nav class="bg-gray-800 p-2">
  <div class="container mx-auto flex space-x-4">
    <a href="/home" class="text-white px-4">Home</a>
    <a href="/users" class="text-white px-4">Usu치rios</a>
    <a href="/users/create" class="text-white px-4">Adicionar Usu치rio</a>
    <a href="/users/edit" class="text-white px-4">Editar Usu치rio</a>
    <a href="/users/detail" class="text-white px-4">Detalhes do Usu치rio</a>
  </div>
</nav>
