<nav class="bg-gray-800 p-2">
    <div class="container mx-auto">
      <a href="/home" class="text-white px-4">Home</a>
      <a href="/users" class="text-white px-4">Users</a>
      <!-- Adicione mais links conforme necessário -->
      <nav class="bg-gray-800 p-2">
        <div class="container mx-auto flex">
          <a href="/home" class="text-white px-4">Home</a>
          <a href="/users" class="text-white px-4">Usuários</a>
          <a href="/users/create" class="text-white px-4">Adicionar Usuário</a>
          <a href="/users/edit" class="text-white px-4">Editar Usuário</a>
          <a href="/users/detail" class="text-white px-4">Detalhes do Usuário</a>
        </div>
      </nav>
      
    </div>
  </nav>
  